.header{
	padding-top:30px;
	width:100%;
	background:#d270e6;
	position:absolute;
	top:0;
	left:0;
	right:0;
	z-index:1000;
}
.header__logo{
	font-size:30px;
	font-weight:700;
	color:black;
}
.header__inner{
	display:flex;
	justify-content:space-between;
	align-items:center;
}
/*header*/
/*nav*/
.nav{
	font-size:14px;
	text-transform:uppercase;
}
.nav__link{
	color:#1c1d1f;
	text-decoration:none;
	transition:color .3s linear;
	display: inline-block;
	vertical-align:top;
	margin: 0 15px;
	position:relative;
}
.nav__link:after{
	content:"";
	display:block;
	background-color:#e67905;
	width:100%;
	height:3px;
	position:absolute;
	top:100%;
	left:0;
	z-index:1;
	/*display:none;*/
	opacity:0;
	transition:opacity .3s linear;
}
.nav__link:hover{
	color:#e6050b;
}
.nav__link:hover:after{
	/*display:block;*/
	opacity:1;
}
.btn{
	/*display:inline-block;*/
	/*vertical-align:top;*/
	border: 3px solid red;
	padding: 7px 20px;
	color:#e31923;
	text-transform:uppercase;
	font-size:14px;
	font-weight:700;
	text-decoration:none;
	transition: background .3s linear,
	color .3s linear;
}
.btn:hover{
	background-color:red;
	color:black;
}
.intro{
	display:flex; /* Zbyvaie center*/
	flex-direction:column;/*Nastroye center*/
	justify-content:center;
	width:100%;
	height:100vh;
	background: url(21e589abe5130cc1130600cf54ee56de.jpg) center no-repeat;
	background-size:cover;
	-webkit-background-size:cover;
}
.intro__inner{
	width:100%;
	max-width:880px;
	margin: 0 auto;
	color:#000000;
	text-align:center;
}
.intro__title{
	font-size:150px;
	font-weight:700;
	text-transform:uppercase;
	/*text-align:center;*/
	line-height:1;
}
.intro__title:after{
	content:"";
	display:block;
	width:100%;
	height:3px;
	background-color:black;
	margin: 60px auto;
}
.intro__suptitle{
	font-size:70px;
	/*text-align:center;*/
	color:000000;
	font-family:'Kaushan Script',cursive;
	/*margin-bottom: 20px;*/
	
}